!!! 5
%html
  %head
    %title CloudDevelop

    %link(rel="stylesheet" href="/stylesheets/clouddevelop.css")
    %link(rel="stylesheet" href="/stylesheets/jquery/jquery-ui.min.css")
    %link(rel="stylesheet" href="/stylesheets/extra_styles.css")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    %script(type="text/javascript" src="http://js.pusherapp.com/1.9/pusher.min.js")

    = haml @template