/* jQuery styles */
.ui-widget { font-size: 0.88em; }
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; } 
.ui-autocomplete-input { margin-right: 0; padding: 0.48em 0 0.47em 0.45em; }

/* CodeMirror styles */
.CodeMirror {
  border: 1px solid #eee;
}
.CodeMirror-scroll {
  font-family: Consolas, Inconsolata, monospace;
  height: auto;
  min-height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
}