@import "common"

body, html
  font-family: Helvetica, Arial, sans-serif
  margin: 0
  padding: 0

a
  color: darken($positive-action-color, 50%)

a:hover
  color: darken($positive-action-color, 40%)

a.dismiss
  float: right

#flash
  @include full-width
  top: -50px
  height: 50px
  font-size: 32px
  line-height: 50px
  text-align: center
  padding: 0 $default-spacing
  background-color: black
  color: white
  opacity: 0.5
  z-index: 50
  overflow: hidden

  a
    color: $positive-action-color

  a:hover
    color: lighten($positive-action-color, 10%)

  a.dismiss
    height: 50px
    color: white
    text-decoration: none

  span
    color: $success-color
    font-weight: bold

.header
  @include full-width
  top: 0
  height: 70px
  padding: 0 $default-spacing
  background-color: $light-background-color

  h1
    font-size: 50px
    line-height: 70px
    letter-spacing: -5px
    margin: 0
    color: $light-text-color

    a
      color: $light-text-color
      text-decoration: none

    span
      color: $dark-text-color

.menu
  @include full-width
  top: 70px
  height: 40px
  padding: 0 $default-spacing
  background-color: $dark-background-color
  overflow: hidden

  ul
    @include inline-list

    li
      font-size: 12px
      line-height: 40px
      margin-right: 10px
      color: #fff
      text-transform: uppercase

    a
      color: #fff
      text-decoration: none

    a:hover
      color: #ff8
      font-weight: bold

    li.status
      color: darken(#fff, 25%)

    li.login
      a
        color: $positive-action-color
      a:hover
        color: lighten($positive-action-color, 10%)

    li.logout
      a
        color: $negative-action-color
      a:hover
        color: darken($negative-action-color, 10%)

    li.owner
      text-transform: none
      a
        color: $neutral-action-color
      a:hover
        color: lighten($neutral-action-color, 10%)

    li.selected
      font-weight: bold
      text-decoration: underline

.content
  @include full-width
  top: 110px
  bottom: 40px
  margin: $default-spacing

  h1
    font-family: Helvetica, Arial, sans-serif
    font-weight: 300
    margin: 0 0 $default-spacing 0

.loading
  position: absolute
  height: 100%
  width: 100%
  background: #000
  opacity: 0.25
  z-index: 100

  img
    position: absolute
    top: 50%
    left: 50%
    margin-top: -24px
    margin-left: -24px
    height: 48px
    width: 48px

.error
  color: $error-color !important

.footer
  @include full-width
  bottom: 0
  height: 40px
  padding: 0 $default-spacing
  border-top: 1px solid $dark-background-color
  background-color: $light-background-color

  p
    font-size: 12px
    margin: 0
    line-height: 40px
    color: $medium-text-color

  a
    color: $medium-text-color

  a:hover
    color: $dark-text-color

#instructions
  @include full-width
  top: 50%
  height: 300px
  margin-top: -150px
  z-index: 50

  .overlay
    @include full-expand
    background-color: black
    opacity: 0.90

  .text
    @include full-expand
    padding: $default-spacing $default-spacing * 2
    font-size: 20px
    font-weight: 300
    color: white
    overflow: auto

    b, strong
      color: $neutral-action-color

    a
      color: $neutral-action-color
      font-weight: bold
      text-decoration: none

    a:hover
      color: darken($neutral-action-color, 25%)
      text-decoration: underline

    a.dismiss
      color: white

    a.dismiss:hover
      color: white
      text-decoration: none

.off-screen
  position: absolute
  top: -1px
  left: -1px
  height: 1px
  width: 1px
