$light-background-color:  #D2DADF
$medium-background-color: #C3CED5
$dark-background-color:   #333333
$light-text-color:        #999999
$medium-text-color:       #879DAB
$dark-text-color:         #445560
$medium-link-color:       #475864

$positive-action-color:   #8ff
$negative-action-color:   #f88

$code-font:               Consolas, Inconsolata, monospace

$default-spacing:         20px

@mixin full-width
  position: absolute
  left: 0
  right: 0
