@import "common"

.content
  margin: 0
  background-color: $light-background-color

.left
  @include full-height
  left: 0
  right: 67%
  padding: $default-spacing
  background-color: #fff

.middle
  @include full-height
  left: 33%
  right: 33%
  padding: $default-spacing
  background-color: #fff

.post-count
  font-size: 32px
  margin: $default-spacing 0

  .value
    font-size: 48px

.posts-breakdown
  font-size: 24px
  margin: $default-spacing 0

  .language-count
    .name
      display: inline-block
      width: 50%
      font-weight: bold
      color: $dark-text-color

  .language-count:nth-child(even)
    .name
      color: $medium-text-color

ul.actions
  list-style: none
  padding-left: 0

  li
    font-size: 32px

    a
      text-decoration: none

    a:hover
      text-decoration: underline

    a.post
      @include icon(pencil)

    a.challenge
      @include icon(challenges)
