@import "common"
@import "buttons"

h1
  img
    vertical-align: middle

table.posts
  th:nth-child(1), td:nth-child(1)
    width: 100px

  th:nth-child(2), td:nth-child(2)
    width: 200px

  th:nth-child(5), td:nth-child(5)
    width: 300px

  td.token
    font-family: monospace

  td.snippet
    font-family: $code-font
    white-space: nowrap
