<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>

<title>CloudDevelop</title>

<%= stylesheet_link_tag "style" %>

<%= yield :head_stuff %>

</head>

<body>

<div id="header">
    <h1><a href="/"><span>Cloud</span>Develop</a></h1>
    <div class="clear"></div>
</div>

<div id="navigation">
    <div class="inner-navigation">
        <ul>
            <li><a href="/">code</a></li>
        </ul>
    </div>
</div>
    
<div id="wrap">
    
    <div id="content">
        
        <%= yield %>

        <div class="clear"></div>
    </div>
    
    <%= yield :foot_stuff %>

</div>

<div class="footer">
    <p>CloudDevelop uses <a href="http://ideone.com">ideone.com</a> &copy; by <a href="http://sphere-research.com">Sphere Research Labs</a></p>
</div>

</body>

</html>